/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1,
h2,
p,
a {
  color: var(--primary);
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}

/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Hieronder komen jouw animaties en stijlen */

a[href="#frontend"] {
}

.scale {
  transform: scale(2);
}

a[href="#and"] {
}
.animatie {
  transform: translate(42px, 18px);
}

/* #4 */
a[href="#development"] {
  /* animation: 0.5s linear 1s infinite alternate slide-in; */
   
}

.shake {
  animation-name: shakie;
  animation-duration: 0.5s;
  /* animation-iteration-count: 1; */
}

@keyframes shakie {
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(1em);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-1em);
  }
}


.focusev{
background: black;
color: orangered;
}

a[href="#the"]{

}
.rotate {
transform: rotate(180deg);
transition-duration: 3s
}

.rotate2{
  transform: rotate(-180deg);
transition-duration: 3s;
}